<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>Курсы</title>

</head>
<body>
<main class="main">
    <p>Успей принять участие!</p>
                <p>Расписание на дату: {{data}} ))) такое же как и на другие даты!</p>

<table>
   <tr class="head">
    <th>Название курса</th>
    <th>Количество уроков</th>
    <th>Срок проведения</th>
    <th>Место проведения</th>
   </tr>
   <tr>
    <td>Архитектуры и шаблоны проектирования на python</td>
    <td>9</td>
    <td>20.04.21-21.05.21</td>
    <td>Anywhere</td>
   </tr>
  </table>


  <form style=margin-top:30px; action="" method="post">
   <fieldset>
    <legend>Регистрация</legend>
    <p><label class="title" for="name">Ваше имя:</label>
      <input type="text" name="name" id="name"><br />
      <label style=margin-top:10px; class="title" for="email">Ваш email:</label>
      <input style=margin-top:10px; type="text" name="email" id="email"></p>

      <div class="submit" ><input type="submit" value="Регистрация" />
      </div>
   </fieldset>

  </form>


<div style=margin-top:30px; class = "footer-menu">
        <div class = "footer-container">
        <ul>
            <li> <a href="/"> Главная </a> </li>
            <li> <a href = "#">Новости </a> </li>
            <li> <a href="#"> Контакты </a> </li>
            <li> <a href = "/about/"> О нас</a> </li>
        </ul>
</div>

</main>
</body>
</html>
